*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header{
    min-height:100vh;
    width:100%;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    }
    nav{
        width:100%;
        align-items: center;
        min-height: 10vh;
        display: flex;
        padding: 1% 1%;
        justify-content:space-around;
        align-self: center;
    }
    nav img{
        width:200px;
    }
    .nav-link{
        flex:1;
        text-align:center;
    }
    .nav-link ul li{
        list-style:none;
        display: inline-block;
        padding: 8px 12px;
        position:relative;
    }
    .nav-link ul li a{
        color:rgb(18, 174, 235);
        text-decoration: none;
        font-size:13px;
        font-family: Arial;
        font-weight: bold;
        padding:50px 40px;
    }
    .nav-link ul li::after{
        content:'';
        width:0%;
        height:2px;
        background:rgb(238, 14, 14);
        display: block;
        margin:auto;
        transition: 0.5s;
    }
    .nav-link ul li:hover::after{
        width:80%;
    }

    


.text-box{
    width:90%;
    color:#00FF00;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
     font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.text-box h1 {
    font-size:40px;
    font-style:italic;
    font-weight:900;
    font-family: sans-serif;
    color:rgb(128, 0, 0);
    text-align: left;
}
.text-box p{
    margin-right:60% ;
    font-size:16px;
    color:rgb(17, 146, 238);
    font-weight: 700;
}
.hero-btn{
    display:inline-block;
    text-decoration: none;
    color:rgb(251, 250, 253);
    border:1px solid rgb(18, 174, 235);
    padding:12px 34px;
    font-size:13px;
    background:rgb(18, 174, 235);
    position:relative;
    cursor: pointer;
    margin-right: 60%;
  
}
 
.hero-btn:hover{
    border:1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display:none;
}
 

/*----services secrion-----*/



.services{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 10px; 
 } 
.services-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align:left; 
}
.services-col img{
    width:100%;
    border-radius: 10px;
}
.services-col p{
    padding:0;
}
.services-col h3{
    margin-top:16px;
    margin-bottom: 15px;
    text-align: left;
}
h1{
    font-size:36px;
    font-weight:600;
    color: rgb(18, 174, 235);
}
 p{
     color:rgb(116, 108, 108);
     font-size: 14px;
     font-weight: 300;
     line-height: 22px;
     padding:10px;
 }
 .row{
    margin:5%;
    display:flex;
    justify-content: space-between;
 }
 .service-col{
    flex-basis:31%;
    background:#91c2d5;
    border-radius:10px;
    margin-bottom:5%;
    padding:12px;
    box-sizing:border-box;
    transition: 0.5s; 
 }
 h3{
    text-align: center;  
    font-weight: 600;
    margin: 10px 0;
    overflow: hidden;
 }
 
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #eaf0f2;
}

header {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 300px;
    font-size: 35px;
}

header h2 {
    color: #f0525f;
}

header span {
    color: #eaa03f;
}



/*-------------login form------------------*/

 
.container{
    width:100%;
    min-height:100vh;
    background:#555;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:5%;
}
.signup-box{
   display:flex;
   align-items: center; 
   width: 100%;
   max-width: 800px;
   flex-wrap: wrap;
}
.col-2{
    flex-basis:50%;
    flex-grow:1 ;

}
 
.col-2{
    background: #fff;
    padding:40px 8px;
    color:#333;
    min-width:250px;
}
.col-2 h2{
    font-weight:600;

}
.col-2 span{
    font-size:12px;
  
}
.col-2 span a{
    text-decoration:none;
    color:#ef005d;
    font-weight: 500;
 
}
.google-link{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    border-radius: 4px;
    border:1px solid #e60a0a;
    text-decoration: none;
    color:#555;
    font-size:13px;
    margin:20px 0;
}
.google-link img{
    width:20px;
    margin-right:10px;
}
.col-2 h4{
    text-align: center;
    font-weight:400 ;
    
}
.input-field{
    padding:10px;
    border-radius: 4px;
    border:1px solid #e60a0a;
    outline:none;
    display:block;
    width:100%;
    margin:5px 0 10px;
}
form label{
    font-weight: 500;
    font-size:12px;
}
 
.row input{
    margin-right: 6px;
}
.col-2 form button{
    padding:10px;
    border-radius: 4px;
    border:1px solid #e60a0a;
    outline:none;
    display:block;
    width:100%;
    margin:18px 0 10px;
    background:#ef005d;
    color:#fff;
    cursor:pointer;
}


/* The footer is fixed to the bottom of the page */

footer {
    bottom: 0;
}

@media (max-height:600px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 110%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       